<h2><%= t('app.edit') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('app.waiting') %>: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('app.characters_minimum') %></em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('app.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<h3><%= t('app.cancel') %></h3>

<%= t('app.unhappy') %>? <%= button_to t('app.cancel'), registration_path(resource_name), data: { confirm: t('app.sure') }, method: :delete, class: 'btn btn-outline-danger buffer-both' %>

<%= link_to t('app.back') %>
