<h1><%= t '.title' %></h1>

<p><%= t '.author' %>: <strong><%= @photo.user.name %></strong></p>

<%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.url %>

<h3><%= t '.event' %>: <%= @event.title %></h3>

<p><%= t '.datetime' %></p>
<h4><%= l @event.datetime, format: :short %></h4>

<h4><%= t '.owner' %>: <%= @event.user.name %></h4>
