<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=4c69fe08-84dd-409d-bc3b-c1f063aa2abf&lang=ru_RU"type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag "application", :media => "all" %>
    <%= javascript_pack_tag "application" %> 
  </head>
  <body>

    <div class="py-2 bg-light border-bottom">
      <div class="container">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse">
          <ul class="nav me-auto">
            <% if user_signed_in? %>
            <li><%= link_to t('app.user'), current_user %></li>
            <%= link_to t('app.exit'), destroy_user_session_path, method: :delete, class: "nav-item text-dark" %>
            <% else %>
            <li><%= link_to t('app.login'), new_user_session_path %></li>
            <li><%= link_to t('app.registrations'), new_user_registration_path %></li>
           <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= render 'partials/alerts' %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div><!--/span-->
      </div><!--/row-->
      <footer>
        <p>&copy; <%= t('app.company') %> 2021</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
